
/* =============================================================================
   Layout
   ========================================================================== */
	
	* {
		border: 1px solid #fff;
		padding: .25em; }
	
	body {
		font-size: 16px; }

	header,
	section,
	footer {
		border: 1px solid #fff;
		margin: 1.5em auto;
		width: 60em; }
		
	ol {
		list-style: none; }
		
	ol ol {
		margin: 0; }
		
	li {
		cursor: crosshair;
		margin: 0; }
		
/* =============================================================================
   Lyrics
   ========================================================================== */
	
	.lyrics > ol {
		width: 42em; }
		
	.lyrics aside {
		float: right;
		width: 12em; }
		
/* =============================================================================
   Highlights
   ========================================================================== */
		
	.show-blocks {
		border: 1px solid #ff0000; }
	
	*:before {
		color: #fff;
		font-size: .75em;
		left: 0;
		top: 0; }
	
	*:after {
		color: #fff;
		bottom: -2em;
		font-size: .75em;
		left: auto;
		right: -6em;
		top: auto; }
		
	.show-elements *:before,
	.show-elements *:after {
		color: #999; }	
		
	header:before {
		content: "<header>"; }
		
	section:before {
		content: "<section>"; }
		
	aside:before {
		content: "<aside>"; }
		
	footer:before {
		content: "<footer>"; }
		
	nav:before {
		content: "<nav>"; }
		
	nav:after {
		content: "</nav>"; }
		
	p:before {
		content: "<p>"; }
		
	p:after {
		content: "</p>"; }
		
	ol:before {
		content: "<ol>";
		left: -4em; }
		
	ol:after {
		content: "</ol>";
		left: auto;
		right: -2em; }
		
	li:before {
		content: "<li>"; }
		
	li:after {
		content: "</li>"; }
		
	.lift-up {
		background: #f5f5f5;
		box-shadow: .25em .25em .25em rgba(0,0,0,.3); }